<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" style="border-right: 1px solid #ddd;">
      <ul class="nav nav-tabs front-numbers">
        <li>
          <span class="number text-success">{{ entities.length }}</span>
          <span class="text text-success">Total Desa</span>
        </li>
      </ul>
      <div class="content-header">
        ANGGARAN PENDAPATAN DAN BELANJA DESA (APBDES) BESERTA REALISASINYA
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-responsive table-bordered table-striped">
          <thead [hidden]="progress?.percentage !== 100">
            <tr>
              <th (click)="sort('region.name')" rowspan="2" style="text-align: center; vertical-align: middle; cursor: pointer;">Desa
                <ng-container *ngIf="order.includes('region.name')">
                  <span [hidden]="order.startsWith('-')">▲</span>
                  <span [hidden]="!order.startsWith('-')">▼</span>
                </ng-container>
              </th>
              <th (click)="sort('region.parent.id')" style="text-align: center; cursor: pointer;">Kabupaten
                <ng-container *ngIf="order.includes('region.parent.id')">
                  <span [hidden]="order.startsWith('-')">▲</span>
                  <span [hidden]="!order.startsWith('-')">▼</span>
                </ng-container>
              </th>
              <ng-container *ngFor="let budgetType of budgetTypes;">
                <th (click)="sort('data.' + budgetType.id)" class="money" style="text-align: center; cursor: pointer;" colspan="2">{{ budgetType.name }}
                  <ng-container *ngIf="order.includes('data.' + budgetType.id)">
                    <span [hidden]="order.startsWith('-')">▲</span>
                    <span [hidden]="!order.startsWith('-')">▼</span>
                  </ng-container>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of entities | orderBy: order">
              <td>
                <a [routerLink]="['/budget/region', entity.region.id]">
                  <span>{{ entity.region.name }}</span>
                </a>
              </td>
              <td>
                <span>{{ entity.region.parent | regionType:2 }}</span>
              </td>
              <ng-container *ngFor="let budgetType of budgetTypes">
                <td class="money" colspan="2">
                  <div style="float:right;">{{ entity.data[budgetType.id] | number:'3.0-0' }}</div>
                  <div class="bar-percent" [ngStyle]="entity.barPercent[budgetType.id]"></div>
                </td>
              </ng-container>
            </tr>
          </tbody>
          <tfoot [hidden]="progress?.percentage === 100">
            <tr>
              <td style="padding: 80px 5px; text-align: center;" colspan="100">
                <img style="margin: 0 auto;" src="/assets/images/loading.gif">
                <br>
                <br> Memuat data...
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <sk-budget-chart></sk-budget-chart>
    </div>
  </div>
</div>
