<div *ngIf="progress?.percentage < 100" style="margin: auto; width: 50%; height:50%; text-align:center">
  <img src="/assets/images/loading.gif">
  <br>
  <br> Memuat data...
</div>

<div *ngIf="progress?.percentage === 100">
  <div class="content-header">
    Penyaluran Seluruh Desa
  </div>
  <br />
  <div>
    <canvas baseChart [datasets]="transferredDatasets" [labels]="labels" [options]="options" [chartType]="chartType">
    </canvas>
  </div>
  <br />
  <div class="content-header">
    Realisasi Seluruh Desa
  </div>
  <br />
  <div>
    <canvas baseChart [datasets]="realizedDatasets" [labels]="labels" [options]="options" [chartType]="chartType">
    </canvas>
  </div>
</div>
