<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" style="border-right: 1px solid #ddd;">
      <ul class="nav nav-tabs front-numbers">
        <li>
          <span class="number">DESA {{ region?.name }} <span style="font-size:24px;"> - KABUPATEN {{ region | regionType:2 }}</span> 
          <a href="region?.domain" style="font-size:14px;">Web Desa</a></span>
        </li>
      </ul>
      <div class="content-header">
        Penerimaan
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-responsive table-bordered table-striped">
          <thead [hidden]="progress?.percentage !== 100">
            <tr>
              <th style="text-align: center">No</th>
              <th style="text-align: center">Tanggal</th>
              <th style="text-align: center">Deskripsi</th>
              <th style="text-align: center">Jumlah</th>
              <!-- <th style="text-align: center">Sumber Dana</th>              
              <th style="text-align: center">Nama Pengirim</th>
              <th style="text-align: center">Alamat Pengirim</th>
              <th style="text-align: center">TTD Pengirim</th>
              <th style="text-align: center">Nomor Rekening</th>
              <th style="text-align: center">Nama Bank</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of revenues">
              <td>
                <div>{{ entity.no }}</div>
              </td>
              <td style="font-family: 'Consolas'">
                <div>{{ entity.tanggal | date:'dd MMM y' }}</div>
              </td>
              <td>
                <div>{{ entity.uraian }}</div>
              </td>
              <td class="money">
                <div>{{ entity.jumlah | number:'3.0-0' }} </div>
                <div class="bar-percent"></div>
              </td>
              <!--
              <td>
                <div>{{ entity.kode_bayar }}</div>
              </td>              
              <td>
                <div>{{ entity.nama_penyetor }}</div>
              </td>
              <td>
                <div>{{ entity.alamat_penyetor }}</div>
              </td>
              <td>
                <div>{{ entity.ttd }}</div>
              </td>
              <td>
                <div>{{ entity.rekening_bank }}</div>
              </td>
              <td>
                <div>{{ entity.nama_bank }}</div>
              </td>
            -->
            </tr>
          </tbody>

          <tfoot [hidden]="progress?.percentage !== 100 && revenues.length <= 0">
            <tr class="success">
              <td><a href>Total</a></td>
              <td></td>
              <td></td>
              <td class="money">{{ totalRevenue | number:'3.0-0' }}</td>
              <!-- <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td> -->
            </tr>
          </tfoot>
          <tfoot [hidden]="progress?.percentage === 100">
            <tr>
              <td style="padding: 80px 5px; text-align: center;" colspan="100">
                <img style="margin: 0 auto;" src="/assets/images/loading.gif">
                <br>
                <br> Memuat data...
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="content-header">
        Realisasi
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-responsive table-bordered table-striped">
          <thead [hidden]="progress?.percentage !== 100">
            <tr>
              <th style="text-align: center">No</th>
              <th style="text-align: center">Tanggal</th>
              <th style="text-align: center">Deskripsi</th>
              <th style="text-align: center">Jumlah</th>
              <!-- <th style="text-align: center">Jenis SPP</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of spendings">
              <td>
                <div>{{ entity.no }}</div>
              </td>
              <td style="font-family: 'Consolas'">
                <div>{{ entity.tanggal | date:'dd MMM y' }}</div>
              </td>
              <td>
                <div>{{ entity.keterangan }}</div>
              </td>
              <td class="money">
                <div>{{ entity.jumlah | number:'3.0-0' }} </div>
                <div class="bar-percent"></div>
              </td>
              <!-- <td>
                <div>{{ entity.jenis }}</div>
              </td> -->
            </tr>
          </tbody>
          <tfoot [hidden]="progress?.percentage !== 100 && spendings.length <= 0">
            <tr class="success">
              <td>Total</td>
              <td></td>
              <td></td>
              <td class="money">{{ totalSpending | number:'3.0-0' }}</td>
              <!-- <td></td> -->
            </tr>
          </tfoot>
          <tfoot [hidden]="progress?.percentage === 100">
            <tr>
              <td style="padding: 80px 5px; text-align: center;" colspan="100">
                <img style="margin: 0 auto;" src="/assets/images/loading.gif">
                <br>
                <br> Memuat data...
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- col-sm-8 -->

    <div class="col-sm-4">
      <sk-progress-timeline></sk-progress-timeline>
    </div>
    <!-- col-sm-4 -->

  </div>
  <!-- row -->
</div>
