<div *ngIf="progress?.percentage < 100" style="margin: auto; width: 50%; height:100vh; text-align:center; padding-top:50%;">
  <img src="/assets/images/loading.gif">
  <br>
  <br> Memuat data...
</div>

<div *ngIf="progress?.percentage === 100">
  <div class="content-header">
    <select [(ngModel)]="isPercentage">
      <option [ngValue]="false">TOTAL</option>
      <option [ngValue]="true">PERSENTASE</option>
    </select>
    Penyaluran {{ region?.name }}
  </div>
  <br />
  <div>
    <canvas baseChart [datasets]="tDatasets" [labels]="labels" [options]="options" [chartType]="chartType">
    </canvas>
  </div>
  <br />
  <div class="content-header">
    <select [(ngModel)]="isPercentage">
      <option [ngValue]="false">TOTAL</option>
      <option [ngValue]="true">PERSENTASE</option>
    </select>
    Realisasi {{ region?.name }}
  </div>
  <br />
  <div>
    <canvas baseChart [datasets]="rDatasets" [labels]="labels" [options]="options" [chartType]="chartType">
    </canvas>
  </div>
</div>
