<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <tabset>
        <tab heading="Pencapaian">
          <div class="row">
            <div class="col-sm-6">
              <sk-progress-revenue-chart [year]="year" [progressTimelines]="progressTimelines"></sk-progress-revenue-chart>
            </div>
            <div class="col-sm-6">
              <sk-budget-chart [budgetTypes]="budgetTypes" [budgetRecapitulations]="budgetRecapitulations" [progress]="progress"></sk-budget-chart>
            </div>
          </div>
        </tab>
        <tab heading="Anggaran">
          <div class="row">
            <div class="col-sm-6">
              <sk-progress-realization-chart [year]="year" [progressTimelines]="progressTimelines"></sk-progress-realization-chart>
            </div>
            <div class="col-sm-6">
              <sk-budget-chart [budgetTypes]="budgetTypes" [budgetRecapitulations]="budgetRecapitulations" [progress]="progress"></sk-budget-chart>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
