<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8" style="border-right: 1px solid #ddd;">
            <ul class="nav nav-tabs front-numbers">
                <li>
                    <span class="number text-primary">Rp. {{ totalText }}</span>
                </li>
                <li>
                    <span class="number text-success">{{ total.TransferredDd * 100 / total.BudgetedDd | number:0 }}%</span>
                    <span class="text text-success">Tersalurkan Kabupaten</span>
                </li>
                <li>
                    <span class="number text-success">{{ total.RealizedDd * 100 / total.BudgetedDd | number:0 }}%</span>
                    <span class="text text-success">Terrealisasi Desa</span>
                </li>
            </ul>

            <div class="content-header">
                Pencapaian Penyaluran &amp; Realisasi Anggaran Desa
            </div>

            <div class="table-responsive">
                <table class="table table-condensed table-responsive table-bordered table-striped">
                    <thead ng-show="!isEntitiesLoading">
                        <tr>
                            <th>Desa</th>
                            <th class="money" style="width: 25%;">Anggaran Desa</th>
                            <th class="money" style="width: 25%;">Tersalurkan Kabupaten</th>
                            <th class="money" style="width: 25%;">Terrealisasi Desa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entity in entities | orderBy : 'RegionName'">
                            <td>
                                <a href="/p/{{entity.RegionId}}" ng-if="indexCtrl.guessedRegionType==3
               " ng-click="indexCtrl.changeRegion(entity.RegionId, $event)">
                                    <span style="text-decoration:line-through" ng-if="entity.IsKelurahan">{{entity.RegionName}}</span> 
                                    <span ng-if="!entity.IsKelurahan">{{entity.RegionName}}</span> 
                                </a>
                                <a href="/p/{{entity.RegionId}}" ng-if="indexCtrl.guessedRegionType !=3
               " ng-click="indexCtrl.changeRegion(entity.RegionId, $event)">
                                    <span style="text-decoration:line-through" ng-if="entity.TotalDesa==0">{{entity.RegionName}}</span> 
                                    <span ng-if="entity.TotalDesa !=0">{{entity.RegionName}}</span> 
                                </a>
                            </td>
                            <td class="money">
                                <div style="float:right;">{{entity.BudgetedDd | number:0}} </div>
                                <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.BudgetedDd, total.BudgetedDd)"> </div>
                            </td>
                            <td class="money">
                                <div style="float:right;">{{entity.TransferredDd | number:0}} </div>
                                <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.TransferredDd, entity.BudgetedDd)"> </div>
                            </td>
                            <td class="money">
                                <div style="float:right;">{{entity.RealizedDd | number:0}} </div>
                                <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.RealizedDd, entity.BudgetedDd)"> </div>
                            </td>
                        </tr>
                        <tr ng-if="indexCtrl.guessedRegionType==4" ng-repeat="entity in entities">
                            <td>
                                {{entity.Date| date: 'dd MMMM yyyy'}}
                                <a style="margin: 0px 2px;" ng-repeat="doc in entity.SourceDocuments" href="/Content/files/{{doc.FileName}}">
                                    <i class="fa fa-file"></i>
                                </a>
                            </td>
                            <td class="money">
                                &nbsp;
                            </td>
                            <td class="money">
                                &nbsp;
                            </td>
                            <td class="money">
                                <div style="float:right;">{{entity.Dd | number:0}} </div>
                                <div class="fill-meter-bar" ng-style="recapitulationCtrl.moveFillMeterBar(entity.BudgetedAPBN,
                entity.AcknowledgedAPBN)"> </div>
                            </td>
                            <td class="money">
                                &nbsp;
                            </td>
                            <td class="money">
                                &nbsp;
                            </td>
                            <td class="money">
                                <div style="float:right;">{{entity.Add | number:0}} </div>
                                <div class="fill-meter-bar" ng-style="recapitulationCtrl.moveFillMeterBar(entity.BudgetedAPBN,
                entity.AcknowledgedAPBN)"> </div>
                            </td>
                        </tr>
                        <tr ng-show="!isEntitiesLoading && entities.length==0 && indexCtrl.guessedRegionType==4">
                            <td style="padding: 10px; text-align: center;" colspan="100">
                                Belum ada penyaluran yang dilaporkan di desa ini.
                            </td>
                        </tr>
                    </tbody>

                    <tfoot ng-show="!isEntitiesLoading && entities.length> 0">
                        <tr class="success">
                            <td><a href>Total</a></td>
                            <td class="money"> {{total.BudgetedDd | number:0}} </td>
                            <td class="money"> {{total.TransferredDd | number:0}} </td>
                            <td class="money"> {{total.RealizedDd | number:0}} </td>
                        </tr>
                    </tfoot>

                    <tfoot ng-show="isEntitiesLoading">
                        <tr>
                            <td style="padding: 80px 5px; text-align: center;" colspan="100">
                                <img style="margin: 0 auto;" src="/assets/images/loading.gif">
                                <br>
                                <br> Memuat data...
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="position: fixed; width: 31%;">
                <div class="content-header">
                    Penyaluran Se {{ region.Name }}
                </div>
                <br>
                <!-- Insert Angular-Chart Here -->
                <br>
                <div class="content-header">
                    Realisasi Se {{ region.Name }}
                </div>
                <br>
                <!-- Insert Angular-Chart Here -->
            </div>
        </div>
    </div>
</div>