{% extends "monitor.html" %}
{% block body %}
<div class="md-card" >
	<div class="md-card-toolbar">
		<div class="md-card-toolbar-actions">
			<form class="uk-form">
				<fieldset data-uk-margin>
					<i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
				</fieldset>
			</form>
		</div>
		<h3 class="md-card-toolbar-heading-text">
			ABPDes
		</h3>
	</div>
	<div class="md-card-content">
		<div class="uk-grid">
			<div class="uk-width-1-1">
				<ul id="years-apbdes" class="uk-tab" data-uk-tab="{connect:'#content-apbdes'}" id="tabs_1">
				</ul>
				<ul id="content-apbdes" class="uk-switcher uk-margin">
				</ul>
			</div>
		</div>
	</div>
</div>
<div id ="table-content" class="uk-overflow-auto hidden">					
	<table class="uk-table uk-text-nowrap uk-table-hover">
		<thead>
			<tr>
				<th>Domain</th>
				<th>Pendapatan</th>
				<th>Belanja</th>
				<th>Jumlah Baris</th>
				<th>Update Terakhir</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script src="/static/scripts/apbdes_scores.js"></script>	
{% endblock %}
