{% extends "monitor.html" %}
{% block body %}
<div class="uk-grid uk-grid-width-large-1-5 uk-grid-width-1-3 uk-grid-medium" data-uk-grid-margin="">
	<div id="weekly-desa" class="uk-row-first" style="">
		<div class="md-card md-card-fullscreen-activate">
			<div class="md-card-fullscreen-hide">
				<div class="md-card-content" id="panel-graph" data-panel-name="desa">
					<div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity"></span></div>
					<span class="uk-text-muted uk-text-small">Desa Terdaftar</span>
					<h2 class="uk-margin-remove"><span class="count"></span></h2>
				</div>
			</div>
			<div class="md-card-fullscreen-content">
				<h4 class="heading_a uk-margin-bottom"><span class="count"></span> Desa Terdaftar</h4>
				<div style="height:400px;width:100%">
					<canvas id="desa-graph"></canvas>
				</div>
				<div class="uk-overflow-container uk-margin-large-top">					
					<table class="uk-table uk-text-nowrap uk-table-hover" id ="table-domain-weekly">
						<thead>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="weekly-post" style="" >
	    <div class="md-card md-card-fullscreen-activate">
			<div class="md-card-fullscreen-hide">
				<div class="md-card-content" id="panel-graph" data-panel-name="post">
					<div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity"></span></div>
					<span class="uk-text-muted uk-text-small">Berberita Seminggu</span>
					<h2 class="uk-margin-remove"><span class="count"></span></h2>
				</div>
			</div>
			<div class="md-card-fullscreen-content">
				<h4 class="heading_a uk-margin-bottom"><span class="count"></span> Desa Berberita Seminggu</h4>
				<div style="height:400px;width:100%">
					<canvas id="post-graph"></canvas>
				</div>
				<div class="uk-overflow-container uk-margin-large-top">					
					<table class="uk-table uk-text-nowrap uk-table-hover" id ="table-post-weekly">
						<thead>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
	    </div>
	</div>
	<div id="weekly-penduduk" style="">
	    <div class="md-card md-card-fullscreen-activate">
			<div class="md-card-fullscreen-hide">
				<div class="md-card-content" id="panel-graph" data-panel-name="penduduk">
					<div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity"></span></div>
					<span class="uk-text-muted uk-text-small">Berdata Penduduk</span>
					<h2 class="uk-margin-remove"><span class="count"></span></h2>					
				</div>
			</div>
			<div class="md-card-fullscreen-content">
				<h4 class="heading_a uk-margin-bottom"><span class="count"></span> Desa Berdata Kependudukan</h4>
				<div style="height:400px;width:100%">
					<canvas id="penduduk-graph"></canvas>
				</div>
				<div class="uk-overflow-container uk-margin-large-top">					
					<table class="uk-table uk-text-nowrap uk-table-hover" id ="table-penduduk-weekly">
						<thead>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
	    </div>
	</div>
	<div id="weekly-keuangan" style="">
	    <div class="md-card md-card-fullscreen-activate">
		<div class="md-card-fullscreen-hide">
			<div class="md-card-content" id="panel-graph" data-panel-name="keuangan">
				<div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity"></span></div>
				<span class="uk-text-muted uk-text-small">Berdata Keuangan</span>
				<h2 class="uk-margin-remove"><span class="count"></span></h2>
			</div>
		</div>
		<div class="md-card-fullscreen-content">
			<h4 class="heading_a uk-margin-bottom"><span class="count"></span> Desa Berdata Keuangan</h4>
			<div style="height:400px;width:100%">
				<canvas id="keuangan-graph"></canvas>
			</div>
			<div class="uk-overflow-container uk-margin-large-top">					
				<table class="uk-table uk-text-nowrap uk-table-hover" id ="table-keuangan-weekly">
					<thead>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	    </div>
	</div>
	<div id="weekly-pemetaan" style="">
	    <div class="md-card md-card-fullscreen-activate">
		<div class="md-card-fullscreen-hide">
			<div class="md-card-content" id="panel-graph" data-panel-name="pemetaan">
				<div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity"></span></div>
				<span class="uk-text-muted uk-text-small">Berdata Pemetaan</span>
				<h2 class="uk-margin-remove"><span class="count"></span></h2>
			</div>
		</div>
		<div class="md-card-fullscreen-content">
			<h4 class="heading_a uk-margin-bottom"><span class="count"></span> Desa Berdata Pemetaan</h4>
			<div style="height:400px;width:100%">
				<canvas id="pemetaan-graph"></canvas>
			</div>
			<div class="uk-overflow-container uk-margin-large-top">					
				<table class="uk-table uk-text-nowrap uk-table-hover" id ="table-pemetaan-weekly">
					<thead>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	    </div>
	</div>
</div>

<div class="uk-grid">
	<div class="uk-width-1-1">
		<div id="map-card" class="md-card">
			<div class="md-card-toolbar">
				<div class="md-card-toolbar-actions">                    
					<i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed" id="fullscreen-maps">list</i>
				</div>
				<div class="md-card-toolbar-actions-left switch-score">
					<h3 class="md-card-toolbar-heading-text">
						<div data-uk-button-radio="{target:'.md-btn'}" id="button-score">
							Kualitas Data: &nbsp; &nbsp; &nbsp;
							<button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave uk-active" value="blog">Berita</button>
							<button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave" value="penduduk">Kependudukan</button>
							<button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave" value="keuangan">Keuangan</button>
							<button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave" value="pemetaan">Pemetaan</button>
						</div>
					</h3>
				</div>
				<form class="uk-form switch-score">
					<select class="uk-form-width-medium" style="margin:10px; margin-left: 0px; padding: 5px; background-color: #fff;">
						<option value="blog">Berita</option>
						<option value="penduduk">Kependudukan</option>
						<option value="keuangan">Keuangan</option>
						<option value="pemetaan">Pemetaan</option>
					</select>  
				</form>
				<div id="range-score" class="md-card-toolbar-actions-right">
					<input type="range" id="min-score" min="0" max="100" step="5" value="5">
					<span class="uk-badge"> 
					Min: <span id="min-score-value">5</span>
					</span>
					<span class="uk-badge"> 
					<span id="desa-count-value">-</span> Desa
					</span>
				</div>
			</div>
			<div class="md-card-content" style="padding: 0px;">
				<div class="mGraph-wrapper">
					<div id="map" class="gmap" style="height: 400px; width: 100%"> </div>
				</div>
				<div class="md-card-fullscreen-content">
					<div class="uk-overflow-container uk-margin-large-top">					
						<table class="uk-table uk-text-nowrap uk-table-hover" id ="table-score-maps">
							<thead>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="uk-grid">
	<div class="uk-width-1-1">
	    <div class="md-card">
		<div class="md-card-toolbar">
		    <div class="md-card-toolbar-actions">
			<i class="md-icon material-icons md-card-fullscreen-activate"></i>
		    </div>
		    <h3 class="md-card-toolbar-heading-text">
			Aktifitas Pengguna Harian
		    </h3>
		</div>
		<div class="md-card-content">
		    <div style="height: 250px;">
			    <canvas id="daily-graph"></canvas>
		    </div>
		</div>
	    </div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/peity/3.2.1/jquery.peity.js"></script>	
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDSNq5n4eLePylJuAEg8swXRlp-xw1ePs0&libraries=placeses,visualization,drawing,geometry,places&language=id"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="/static/scripts/dashboard.js"></script>	
{% endblock %}
