{% extends "monitor.html" %}
{% block body %}

<div class="md-card" >
	<div class="md-card-toolbar">
		<div class="md-card-toolbar-actions">
			<form class="uk-form">
				<fieldset data-uk-margin>
					<i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
				</fieldset>
			</form>
		</div>
		<h3 class="md-card-toolbar-heading-text">
			Score Berita
		</h3>
	</div>
	<div class="md-card-content">
		<div class="uk-overflow-container">
			<table id="table-post-scores" class="uk-table uk-table-hover uk-text-nowrap">
				<thead>
				</thead>
				<tbody>					
				</tbody>
			</table>
		</div>
	</div>	
	<div class="blog_list_footer">
		<div id="pagination" style="text-align: center"></div>
	</div>
</div>	

<script src="/static/content/js/jquery.simplePagination.js"></script>	
<script src="/static/scripts/post_scores.js"></script>	
{% endblock %}
