<html>
<head>
	<title>Sideka</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.29.0/handsontable.full.min.css" />
</head>
<body>
	<div>
		<a href="/">Daftar Desa</a>
	-
		<a href="/contents">Daftar Content</a>
	-
		<a href="/kodedesa">Cari Kode Desa</a>
	<br />
	<br />
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.29.0/handsontable.full.min.js"></script>
	{% block body %}{% endblock %}
</body>
</html>
