<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no"/>

    <title>Sideka Monitoring</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='statics/content/css/main.min.css')}}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='statics/content/css/custom.css')}}" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.29.0/handsontable.full.min.css" />
</head>
<body class=" sidebar_main_open sidebar_main_swipe">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>		
<!--
-->
    

    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>
                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>

                 <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main">
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="/" class="sSidebar_hide sidebar_logo_large" style="line-height: 20px; margin-top: 10px;">
			<span style="color: rgb(25, 118, 210); font-size: 1em; font-weight: bold; line-height: 20px; padding-top: 20px;">Monitoring Kualitas Data Sideka</span>
                </a>
            </div>
        </div>

        <div class="menu_section">
            <ul>
                <li title="Dashboard" class="{{ 'current_section' if active == 'dashboard' else ''}}">
                    <a href="/">
                        <span class="menu_icon"><i class="material-icons"></i></span>
                        <span class="menu_title">Dashboard</span>
                    </a>
                </li>
                <li title="Statistik" class="{{ 'current_section' if active == 'statistics' else ''}}">
                    <a href="/statistics">
                        <span class="menu_icon"><i class="material-icons">timeline</i></span>
                        <span class="menu_title">Kualitas Data</span>
                    </a>

                </li>
                <li title="Statistik Berita" class="{{ 'current_section' if active == 'post_scores' else ''}}">
                    <a href="/posts">
                        <span class="menu_icon"><i class="material-icons">chrome_reader_mode</i></span>
                        <span class="menu_title">Berita</span>
                    </a>

                </li>
                <li title="Statistik Apbdes" class="{{ 'current_section' if active == 'apbdes_scores' else ''}}">
                    <a href="/apbdes">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">APBDes</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside><!-- main sidebar end -->
    
    <div id="top_bar" class="hidden">
        <div class="md-top-bar">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">
                    <div class="md-card-toolbar-heading-text">
                    <div class="uk-button uk-button-default uk-form-select " data-uk-form-select>
                    <span></span>
                    <select id="region-code-select">
                        <option value="" selected="selected">All</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page_content">
        <div id="page_content_inner">
		{% block body %}{% endblock %}
        </div>
    </div>   
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/id.js"></script>
	<script src="/statics/content/js/jquery.bez.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="/statics/content/js/jquery.scrollbar.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.1/velocity.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.2/screenfull.min.js"></script>
	<script src="{{ url_for('static', filename='/statics/content/js/altair_admin_common.js')}}"></script>
	<script src="{{ url_for('static', filename='/statics/content/js/uikit_custom.min.js')}}"></script>
<!--
	<script src="{{ url_for('static', filename='statics/content/js/common.min.js')}}"></script>    
-->
    
</body>
</html>