{% extends "monitor/monitor.html" %}
{% block body %}  
    <div ng-app="app" ng-controller="locatorController as vm">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">                    
                    <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i data-uk-button-radio="{target:'.md-btn'}">
                        <button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave">Berita</button>
                        <button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave">Penduduk</button>
                        <button class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave">APBDes</button>
                    </i>
                </h3>
            </div>
            <div class="md-card-content"style="height: 800px">
                <ng-map zoom="5"center="[-2.604236, 116.499023]" style="width:100%;height:100%;" default-style="false">
                    <marker ng-repeat="marker in vm.markers" position=[[marker.pos]] title=[[marker.domain]] icon="/statics/content/icons/number/number_[[marker.icon]].png"></marker>
                </ng-map>             
            </div>
        </div>
    </div>
  
  <script src="/statics/monitor/statistics_maps.js"></script>
{% endblock %}
