<div id="map" class="map-responsive" #map leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>

<div class="center-div" [hidden]="progress?.percentage === 100">
  <img style="margin: 0 auto; margin-left: -70px;" src="/assets/images/loading.gif">
</div>

<div class="desktop" *ngIf="summaries">
    <div id="cari" style="display: inline-flex">
        <a>
          <img src="/assets/res/logobp3ti.png">
        </a>
        <h5> {{summaries.region.name}} </h5>
    </div>

    <div class="prevnext" style="float:right; margin-top: 2px;">
      <button class="prev" (click)="prev()">
        <span style="width: 80px; text-overflow: ellipsis;"><i class="fa fa-arrow-left"></i> {{prevDesa}}</span>
      </button>
      <button class="next"  (click)="next()">
        <span style="width: 80px; text-overflow: ellipsis;"> {{nextDesa}} <i class="fa fa-arrow-right"></i></span>
      </button>
    </div>
    
    <div class="show-hide-side">
      <button class="shide" (click)="sidebarCollapsed = !sidebarCollapsed" id="shide">Rincian ▾</button>
    </div>
    
    <div class="sidebar" id="sidebar" *ngIf="!sidebarCollapsed">
      <a href="#" (click)="setActiveMenu('apbdes')">
        <div class="side" [ngClass]="{'active': activeMenu === 'apbdes' }">
          <div class="icon">
            <i class="fa fa-money"></i>
          </div>
          <div class="desc">
            <h4>Rp {{summaries.penganggaran_budgeted_revenue | number:'3.0-0'}} (APBDes {{summaries.penganggaran_year}}) </h4>
          </div>
        </div>
      </a>
      <a href="#" (click)="setActiveMenu('boundary')">
        <div class="side" [ngClass]="{'active': activeMenu === 'boundary' }">
          <div class="icon">
            <i class="fa fa-map"></i>
          </div>
          <div class="desc">
              <h4> {{summaries.pemetaan_desa_boundary / 10000 | number:'1.0-0' }} Ha </h4>
          </div>
    
        </div>
      </a>
      <a href="#" (click)="setActiveMenu('gender')">
        <div class="side" [ngClass]="{'active': activeMenu === 'gender' }">
          <div class="icon">
            <i class="fa fa-male"></i>
          </div>
          <div class="desc">
            <h4>
              <i class="fa fa-mars"></i> {{summaries.penduduk_sex_male}}&nbsp;&nbsp;
              <i class="fa fa-venus"></i> {{summaries.penduduk_sex_female}}</h4>
          </div>
        </div>
      </a>
      <a href="#" (click)="setActiveMenu('schools')">
        <div class="side" [ngClass]="{'active': activeMenu === 'schools' }">
          <div class="icon">
            <i class="fa fa-building"></i>
          </div>
          <div class="desc">
            <h4> {{summaries.pemetaan_school_tk}} <strong>TK</strong> {{summaries.pemetaan_school_sd}} <strong>SD</strong>  {{summaries.pemetaan_school_smp}} <strong>SMP</strong>  {{summaries.pemetaan_school_sma}} <strong>SMA</strong>  {{summaries.pemetaan_school_pt}} <strong>PT</strong> </h4>
          </div>
        </div>
      </a>
      <!--
      <a href="#" (click)="setActiveMenu('electricity')">
        <div class="side" [ngClass]="{'active': activeMenu === 'electricity' }">
          <div class="icon">
            <i class="fa fa-plug"></i>
          </div>
          <div class="desc">
            <h4>{{summaries.pemetaan_electricity_available_kk}} Dari {{summaries.penduduk_total_kk}} KK</h4>
          </div>
        </div>
      </a>
    
      <a href="#" (click)="setActiveMenu('misc')">
        <div class="side" [ngClass]="{'active': activeMenu === 'misc' }">
          <div class="icon">
            <i class="fa fa-tint"></i>
          </div>
          <div class="desc">
            <h4>{{summaries.pemetaan_water_spring}} Mata Air, {{summaries.pemetaan_water_ditch}} Sistem Pipa</h4>
          </div>
        </div>
      </a> -->
      <a href="#" (click)="setActiveMenu('landuse')">
        <div class="side" [ngClass]="{'active': activeMenu === 'landuse' }">
          <div class="icon">
            <i class="fa fa-leaf"></i>
          </div>
          <div class="desc">
            <span>
                <img src="/assets/images/pertanian.png" style="width: 20px; height: 20px; padding-left: 2px;" title="Pertanian"/> 
                {{summaries.pemetaan_potential_farmland_area / 10000 | number:'1.0-0'}} Ha
            </span>
            <span>
                <img src="/assets/images/perkebunan.png" style="width: 20px; height: 20px; padding-left: 2px;" title="Perkebunan"/> 
                {{summaries.pemetaan_potential_orchard_area / 10000 | number:'1.0-0'}} Ha
            </span>
            <span>
                <img src="/assets/images/hutan.png" style="width: 20px; height: 20px; padding-left: 2px;" title="Hutan"/> 
                {{summaries.pemetaan_potential_forest_area / 10000 | number:'1.0-0'}} Ha 
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>

<div class="mobile" *ngIf="summaries">
   <div id="cari" style="display: inline-flex; width: 360px;">
      <a>
        <img src="/assets/res/logobp3ti.png">
      </a>
      <h5> {{summaries.region.name}} </h5>
    </div>

    <div class="prevnext">
      <button class="prev" (click)="prev()">
        <span style="width: 80px; text-overflow: ellipsis;"><i class="fa fa-arrow-left"></i> {{prevDesa}}</span>
      </button>
      <button class="next"  (click)="next()">
        <span style="width: 80px; text-overflow: ellipsis;"> {{nextDesa}} <i class="fa fa-arrow-right"></i></span>
      </button>
    </div>
    <div style="margin-top: 10px; width: 600px; height: 300px; overflow-y: scroll;">
        <a href="#" (click)="setActiveMenu('apbdes')">
            <div class="side" [ngClass]="{'active': activeMenu === 'apbdes' }">
              <div class="icon">
                <i class="fa fa-money"></i>
              </div>
              <div class="desc">
                <h4>Rp {{summaries.penganggaran_budgeted_revenue | number:'3.0-0'}} (APBDes {{summaries.penganggaran_year}}) </h4>
              </div>
            </div>
          </a>
          <a href="#" (click)="setActiveMenu('boundary')">
            <div class="side" [ngClass]="{'active': activeMenu === 'boundary' }">
              <div class="icon">
                <i class="fa fa-map"></i>
              </div>
              <div class="desc">
                  <h4> {{summaries.pemetaan_desa_boundary / 10000 | number:'1.0-0' }} Ha </h4>
              </div>
        
            </div>
          </a>
          <a href="#" (click)="setActiveMenu('gender')">
            <div class="side" [ngClass]="{'active': activeMenu === 'gender' }">
              <div class="icon">
                <i class="fa fa-male"></i>
              </div>
              <div class="desc">
                <h4>
                  <i class="fa fa-mars"></i> {{summaries.penduduk_sex_male}}&nbsp;&nbsp;
                  <i class="fa fa-venus"></i> {{summaries.penduduk_sex_female}}</h4>
              </div>
            </div>
          </a>
          <a href="#" (click)="setActiveMenu('schools')">
            <div class="side" [ngClass]="{'active': activeMenu === 'schools' }">
              <div class="icon">
                <i class="fa fa-building"></i>
              </div>
              <div class="desc">
                <h4> {{summaries.pemetaan_school_tk}} <strong>TK</strong> {{summaries.pemetaan_school_sd}} <strong>SD</strong>  {{summaries.pemetaan_school_smp}} <strong>SMP</strong>  {{summaries.pemetaan_school_sma}} <strong>SMA</strong>  {{summaries.pemetaan_school_pt}} <strong>PT</strong> </h4>
              </div>
            </div>
          </a>
          <!--
          <a href="#" (click)="setActiveMenu('electricity')">
            <div class="side" [ngClass]="{'active': activeMenu === 'electricity' }">
              <div class="icon">
                <i class="fa fa-plug"></i>
              </div>
              <div class="desc">
                <h4>{{summaries.pemetaan_electricity_available_kk}} Dari {{summaries.penduduk_total_kk}} KK</h4>
              </div>
            </div>
          </a>
        
          <a href="#" (click)="setActiveMenu('misc')">
            <div class="side" [ngClass]="{'active': activeMenu === 'misc' }">
              <div class="icon">
                <i class="fa fa-tint"></i>
              </div>
              <div class="desc">
                <h4>{{summaries.pemetaan_water_spring}} Mata Air, {{summaries.pemetaan_water_ditch}} Sistem Pipa</h4>
              </div>
            </div>
          </a> -->
          <a href="#" (click)="setActiveMenu('landuse')">
            <div class="side" [ngClass]="{'active': activeMenu === 'landuse' }">
              <div class="icon">
                <i class="fa fa-leaf"></i>
              </div>
              <div class="desc">
                <span>
                    <img src="/assets/images/pertanian.png" style="width: 20px; height: 20px; padding-left: 2px;" title="Pertanian"/> 
                    {{summaries.pemetaan_potential_farmland_area / 10000 | number:'1.0-0'}} Ha
                </span>
                <span>
                    <img src="/assets/images/perkebunan.png" style="width: 20px; height: 20px; padding-left: 2px;" title="Perkebunan"/> 
                    {{summaries.pemetaan_potential_orchard_area / 10000 | number:'1.0-0'}} Ha
                </span>
                <span>
                    <img src="/assets/images/hutan.png" style="width: 20px; height: 20px; padding-left: 2px;" title="Hutan"/> 
                    {{summaries.pemetaan_potential_forest_area / 10000 | number:'1.0-0'}} Ha 
                </span>
              </div>
            </div>
          </a>
    </div>
</div>
