<button class="side" id="btn-apbdes">
    <div class='icon'>
        <i class='fa fa-money'></i>
    </div>
    <div class='text'>
        <span>APBDes</span>
    </div>
</button>

<button class="side" id="btn-luasdesa">
    <div class='icon'>
        <i class='fa fa-map'></i>
    </div>
    <div class='text'>
        <span>Luas Desa</span>
    </div>
</button>

<button class="side" id="btn-penduduk">
    <div class='icon'>
        <i class='fa fa-male'></i>
    </div>
    <div class='text'>
        <span>Jumlah Penduduk</span>
    </div>
</button>

<button class="side" id="btn-pendidikan">
    <div class='icon'>
        <i class='fa fa-building'></i>
    </div>
    <div class='text'>
        <span>Pendidikan</span>
    </div>
</button>

<button class="side" id="btn-listrik">
    <div class='icon'>
        <i class='fa fa-plug'></i>
    </div>
    <div class='text'>
        <span>Listrik</span>
    </div>
</button>

<button class="side" id="btn-pengairan">
    <div class='icon'>
        <i class='fa fa-tint'></i>
    </div>
    <div class='text'>
        <span>Pengairan</span>
    </div>
</button>

<button class="side" id="btn-komunikasi">
    <div class='icon'>
        <i class='fa fa-phone'></i>
    </div>
    <div class='text'>
        <span>Sarana Komunikasi</span>
    </div>
</button>

<button class="side" id="btn-potensi">
    <div class='icon'>
        <i class='fa fa-leaf'></i>
    </div>
    <div class='text'>
        <span>Potensi Desa</span>
    </div>
</button>
