<style>
    .content-header {
        border-top: 1px solid #337ab7;
        border-bottom: 1px solid #337ab7;
        color: #337ab7;
        text-transform: uppercase;
        padding: 0 0 0 10px;
        font-size: 14px;
        margin-top: 10px;
    }
</style>

<div style="margin: 15px 20px;">
   <div style="display: inline-flex; width: 100%;">
      <div style="flex: 1; display: inline-flex;">
          <img src="/assets/images/bpppti.png" style="height: 35px; margin-top: -5px; margin-right: 10px; display: inline;">
          <input type="text" class="form-control" placeholder="Cari Desa" style="height: 30px;" />   
      </div>
      <div style="flex: 3; margin-left: 200px; padding-top: 5px;">
         <span style="font-size: 15px; text-align: center; font-weight: bold;"> DASHBOARD TATA KELOLA DESA </span>
      </div>
   </div>
   <div class="content-header">
      <a href="#" *ngIf="viewType == 'detail'" (click)="backToSummary()"> <i class="fa fa-arrow-left"></i> </a>
      STATISTIK DESA
   </div>
   <div class="table-responsive">
        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'summary'">
            <thead>
                <tr>
                    <th style="width: 15%; font-size: 12px; text-align: center;"> <a href="#" (click)="sort('region.name')">Desa</a> </th>
                    <th style="width: 5%; font-size: 12px; text-align: center;"> <a href="#" (click)="sort('penganggaran_budgeted_revenue')"> APBDes </a> </th>
                    <th style="width: 10%; font-size: 12px; text-align: center"> <a href="#" (click)="sort('pemetaan_desa_boundary')"> Luas (Km<sup>2</sup>) </a> </th>
                    <th style="width: 5%; font-size: 12px; text-align: center"> <a href="#" (click)="sort('penduduk_total')"> Penduduk </a> </th>
                    <th style="width: 5%; font-size: 12px; text-align: center"> <a href="#" (click)="sort('desa_edu_total')"> Pendidikan </a> </th>
                    <th style="width: 15%; font-size: 12px; text-align: center"> <a href="#" (click)="sort('pemetaan_electricity_available_kk')"> Listrik </a> </th>
                    <th style="width: 15%; font-size: 12px; text-align: center"> <a href="#" (click)="sort('desa_total_waters')"> Pengairan </a> </th>
                    <th style="width: 20%; font-size: 12px; text-align: center"> <a href="#" (click)="sort('desa_total_potential')"> Potensi Desa </a> </th>
                </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let summary of summaries | orderBy: order">
                     <td style="font-size: 12px;"><a [routerLink]="['/desa/region', summary.region.id]"> {{summary.region.name}}</a></td>
                     
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('apbdes')" *ngIf="summary.penganggaran_budgeted_revenue > 0"> {{summary.penganggaran_budgeted_revenue | number:'3.0-0'}} </td>
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('apbdes')" *ngIf="summary.penganggaran_budgeted_revenue === 0 || !summary.penganggaran_budgeted_revenue"> - </td>
                    
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('area')" *ngIf="summary.pemetaan_desa_boundary > 0"> {{ summary.pemetaan_desa_boundary / 1000  | number:'1.0-0'}} </td>
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('area')" *ngIf="summary.pemetaan_desa_boundary === 0 || !summary.pemetaan_desa_boundary"> - </td>
                     
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('penduduk')" *ngIf="summary.penduduk_total > 0"> {{summary.penduduk_total}} </td>
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('penduduk')" *ngIf="summary.penduduk_total === 0">  - </td>

                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('education')" *ngIf="summary.desa_edu_total > 0"> {{summary.desa_edu_total}} </td>
                     <td class="money" style="text-align: right; font-size: 12px;" (click)="loadDetail('education')" *ngIf="summary.desa_edu_total === 0">  - </td>
                     
                     <td style="font-size: 12px;" *ngIf="summary.pemetaan_electricity_house > 0" (click)="loadDetail('electricity')"> {{summary.pemetaan_electricity_house}} Dari {{summary.penduduk_total_kk}} KK</td>
                     <td style="font-size: 12px;" *ngIf="summary.pemetaan_electricity_house === 0" (click)="loadDetail('electricity')"> - </td>
                     
                     <td style="font-size: 12px;" *ngIf="summary.pemetaan_water_natural > 0 || summary.pemetaan_water_pipe > 0" (click)="loadDetail('waters')"> {{summary.pemetaan_water_natural}} Mata Air, {{summary.pemetaan_water_pipe}} Sistem Pipa </td>
                     <td style="font-size: 12px;" *ngIf="summary.pemetaan_water_natural === 0 && summary.pemetaan_water_pipe === 0" (click)="loadDetail('waters')"> - </td>
                     
                     <td style="font-size: 12px;" *ngIf="summary.pemetaan_potential_farmland > 0 || summary.pemetaan_potential_orchard > 0 || summary.pemetaan_potential_forest > 0" (click)="loadDetail('potential')"> {{summary.pemetaan_potential_farmland}} Pertanian, {{summary.pemetaan_potential_orchard}} Perkebunan, {{summary.pemetaan_potential_forest}} Hutan </td>
                     <td style="font-size: 12px;" *ngIf="summary.pemetaan_potential_farmland === 0 && summary.pemetaan_potential_orchard === 0 && summary.pemetaan_potential_forest === 0" (click)="loadDetail('potential')"> - </td>
                  </tr>
            </tbody>
            <tfoot [hidden]="progress?.percentage === 100">
            <tr>
              <td style="padding: 80px 5px; text-align: center;" colspan="100">
                <img style="margin: 0 auto;" src="/assets/images/loading.gif">
                <br>
                <br> Memuat data...
              </td>
            </tr>
          </tfoot>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'apbdes'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_sex_male')">APBDes</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_sex_female')">Tahun</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;"> {{summary.penganggaran_budgeted_revenue | number:'3.0-0'}}</td>
                    <td> {{summary.penganggaran_year}}</td> 
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'area'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_desa_boundary')">Batas Desa (km<sup>2</sup>)</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_desa_boundary > 0"> {{summary.pemetaan_desa_boundary / 1000}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_desa_boundary === 0"> -</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'penduduk'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_sex_male')">Laki-Laki</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_sex_female')">Perempuan</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_sex_unknown')">Tidak Diketahui</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_edu_sd')">SD</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_edu_smp')">SMP</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_edu_sma')">SMA</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_edu_pt')">PT</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_job_petani')">Petani</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_job_pedagang')">Pedagang</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_job_karyawan')">Karyawan</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_job_lain')">Lainnya</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_sex_male > 0"> {{summary.penduduk_sex_male}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_sex_male === 0"> -</td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_sex_female > 0"> {{summary.penduduk_sex_female}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_sex_female === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_sex_unknown > 0"> {{summary.penduduk_sex_unknown}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_sex_unknown === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_sd > 0"> {{summary.penduduk_edu_sd}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_sd === 0"> -</td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_smp > 0"> {{summary.penduduk_edu_smp}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_smp === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_sma > 0"> {{summary.penduduk_edu_sma}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_sma === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_pt > 0"> {{summary.penduduk_edu_pt}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_edu_pt === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_petani > 0"> {{summary.penduduk_job_petani}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_petani === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_pedagang > 0"> {{summary.penduduk_job_pedagang}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_pedagang === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_karyawan > 0"> {{summary.penduduk_job_karyawan}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_karyawan === 0"> -</td>

                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_lain > 0"> {{summary.penduduk_job_lain}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.penduduk_job_lain === 0"> -</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'education'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_school_tk')">TK</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_school_sd')">SD</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_school_smp')">SMP</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_school_sma')">SMA</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_school_pt')">PT</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_tk > 0"> {{summary.pemetaan_school_tk}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_tk === 0">-</td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_sd > 0"> {{summary.pemetaan_school_sd}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_sd === 0">-</td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_smp > 0"> {{summary.pemetaan_school_smp}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_smp === 0">-</td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_sma > 0"> {{summary.pemetaan_school_sma}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_sma === 0">-</td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_pt > 0"> {{summary.pemetaan_school_pt}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_school_pt === 0">-</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'electricity'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('penduduk_sex_male')">Menggunakan Listrik (KK)</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('kk_not_using_electricity')">Tidak Menggunakan Listrik (KK)</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_electricity_house > 0"> {{summary.pemetaan_electricity_house}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_electricity_house === 0"> - </td>
                 
                    <td class="money" style="text-align: right;" *ngIf="summary.kk_not_using_electricity > 0"> {{summary.kk_not_using_electricity}}</td> 
                    <td class="money" style="text-align: right;" *ngIf="summary.kk_not_using_electricity === 0"> - </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'waters'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_water_spring')">Luas Mata Air (km <sup>2</sup>)</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_water_ditch')">Rataan Lebar Pipa (m)</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_water_natural_area > 0"> {{summary.pemetaan_water_natural_area}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_water_natural_area === 0"> - </td>
                    
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_water_pipe_width_avg > 0"> {{summary.pemetaan_water_pipe_width_avg}}</td> 
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_water_pipe_width_avg === 0"> - </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail' && detailType === 'potential'">
            <thead>
                <tr>
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                       <a href="#" (click)="sort('region.name')">Desa</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_potential_farmland')">Luas Pertanian (km <sup>2</sup>)</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_potential_orchard')">Luas Perkebunan (km <sup>2</sup>)</a>
                    </th> 
                    <th style="width: 10%; font-size: 12px; text-align: center;">
                        <a href="#" (click)="sort('pemetaan_potential_forest')">Luas Hutan (km <sup>2</sup>)</a>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summaries | orderBy: order">
                    <td> {{summary.region.name}}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_potential_farmland_area > 0"> {{summary.pemetaan_potential_farmland_area / 1000 }}</td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_potential_farmland_area === 0"> - </td>
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_potential_orchard_area > 0"> {{summary.pemetaan_potential_orchard_area  / 1000 }}</td> 
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_potential_orchard_area === 0"> -</td> 
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_potential_forest_area > 0"> {{summary.pemetaan_potential_forest_area  / 1000 }}</td> 
                    <td class="money" style="text-align: right;" *ngIf="summary.pemetaan_potential_forest_area === 0"> -</td> 
                </tr>
            </tbody>
        </table>
   </div>
</div>