<style>
    .content-header {
        border-top: 1px solid #337ab7;
        border-bottom: 1px solid #337ab7;
        color: #337ab7;
        text-transform: uppercase;
        padding: 0 0 0 10px;
        font-size: 14px;
        margin-top: 10px;
    }
</style>

<div style="margin: 15px 20px;">
   <div style="display: inline-flex; width: 100%;">
      <div style="flex: 1">
         <input type="text" class="form-control" placeholder="Cari Desa" style="height: 30px;" />
      </div>
      <div style="flex: 3; margin-left: 200px; padding-top: 5px;">
         <span style="font-size: 15px; text-align: center; font-weight: bold;"> DASHBOARD TATA KELOLA DESA </span>
      </div>
   </div>
   <div class="content-header">
      <a href="#" *ngIf="viewType == 'detail'" (click)="backToSummary()"> <i class="fa fa-arrow-left"></i> </a>
      STATISTIK DESA
   </div>
   <div class="table-responsive">
        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'summary'">
            <thead>
                <tr>
                    <th> Desa </th>
                    <th style="width: 10%;"> APBDes </th>
                    <th style="width: 10%;"> <a href="#" (click)="loadDetail('area')"> Luas (Km<sup>2</sup>) </a> </th>
                    <th> <a href="#" (click)="loadDetail('penduduk')"> Penduduk </a> </th>
                    <th> <a href="#" (click)="loadDetail('education')"> Pendidikan </a> </th>
                    <th> <a href="#" (click)="loadDetail('electricity')"> Listrik </a> </th>
                    <th> <a href="#" (click)="loadDetail('water')"> Pengairan </a> </th>
                    <th style="width: 10%;"> <a href="#" (click)="loadDetail('water')">  Jalur Komunikasi </a> </th>
                    <th style="width: 10%;"> <a href="#" (click)="loadDetail('water')"> Potensi Desa </a> </th>
                </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let summary of summaries">
                     <td><a [routerLink]="['/desa/region', summary.region.id]"> {{summary.region.name}}</a></td>
                     <td class="money" style="text-align: right;"> {{ summary.apbdes_total | number:'3.0-0'}} </td>
                     <td class="money" style="text-align: right;"> {{ summary.pemetaan_area / 1000 | number }} </td>
                     <td class="money" style="text-align: right;"> {{ summary.penduduk_sex_male + summary.penduduk_sex_female + summary.penduduk_sex_unknown }} </td>
                     <td class="money" style="text-align: right;"> {{ summary.penduduk_edu_none + summary.penduduk_edu_pt + summary.penduduk_edu_sd + summary.penduduk_edu_sma + summary.penduduk_edu_smp }} </td>
                     <td> {{summary.pemetaan_electricity}} </td>
                     <td> {{summary.pemetaan_water}} </td>
                     <td> {{summary.pemetaan_communication}} </td>
                     <td> {{summary.pemetaan_potential}} </td>
                  </tr>
            </tbody>
            <tfoot [hidden]="progress?.percentage === 100">
            <tr>
              <td style="padding: 80px 5px; text-align: center;" colspan="100">
                <img style="margin: 0 auto;" src="/assets/images/loading.gif">
                <br>
                <br> Memuat data...
              </td>
            </tr>
          </tfoot>
        </table>
        <table class="table table-condensed table-responsive table-bordered table-striped" *ngIf="viewType === 'detail'">
            <thead>
                <tr>
                    <th *ngFor="let column of detailColumns[detailType]">
                       {{column}}
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of details">
                    <td *ngFor="let row of detail.rows">{{row}}</td>
                </tr>
            </tbody>
        </table>
   </div>
</div>