MYSQL_USER="root"
MYSQL_PASSWORD="ingininiinginitubanyaksekali"
MYSQL_HOST="database.neon.microvac"
MYSQL_DB="wp_sideka_proot"
HOST='127.0.0.1'
PORT=5001
MONITOR_PORT=5002
ADMIN_PORT=5003
CKAN_HOST="http://data.prakarsadesa.id"
CKAN_KEY="712e7e8d-bf1b-4a2a-9a3c-60f4eb2e49a4"
SECRET_KEY="microvac"
API_VERSION="2.0"