<html>
<head>
	<title>Sideka Admin</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/libs/handsontable/handsontable.full.min.css" />
	<link rel="stylesheet" href="/static/stylesheets/admin.css" />
</head>
<body>
	<div id="container">
	<ul class="nav nav-tabs" style="width: 100%; height: 40px;">
		<li role="presentation" class="{{ 'active' if active == 'desa' else ''}}"><a href="/"><span class="glyphicon glyphicon-home"></span> Desa</a></li>
		<li role="presentation" class="{{ 'active' if active == 'contents' else ''}}"><a href="/contents"><span class="glyphicon glyphicon-file"></span> Content</a></li>
		<li role="presentation" class="{{ 'active' if active == 'contents_v2' else ''}}"><a href="/contents/v2"><span class="glyphicon glyphicon-file"></span> Content V2</a></li>
		<li role="presentation" class="{{ 'active' if active == 'code_finder' else ''}}"><a href="/code_finder"><span class="glyphicon glyphicon-search"></span> Cari Kode Desa</a></li>
		<li role="presentation" class="{{ 'active' if active == 'supradesa' else ''}}"><a href="/supradesa"><span class="glyphicon glyphicon-tower"></span> Supradesa</a></li>				
		<li role="presentation" class="{{ 'active' if active == 'user_supradesa' else ''}}"><a href="/user_supradesa"><span class="glyphicon glyphicon-user"></span> User Supradesa</a></li>	
		<li style="float:right;line-height:34px;" role="presentation"> 
			<a href="/logout" class="btn" role="button">
				<span class="glyphicon glyphicon-log-out"></span> Logout
			</a>
		</li>	
	</ul>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="/static/libs/handsontable/handsontable.full.min.js"></script>
	{% block body %}{% endblock %}
	</div>
</body>
</html>
