{% extends "admin.html" %}
{% block body %}

	<style>
		.nav-pills > li > a {
			border-radius: 0;
			padding: 5px;
		}
	</style>

    <div class="flex-item">
        <a class="btn btn-default" href="/api/contents/v2/{{id}}">View JSON</a> 
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete Content</button>
    </div>
    <div style="flex: 1; padding: 15px;">
        <table class="table table-striped" style="background-color: rgba(255,255,255,0.8);">
            <tbody>
                <tr>
                    <td>Desa ID</td>
                    <td>{{content.desa_id}}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{content.type}}</td>
                </tr>
                <tr>
                    <td>Sub Type</td>
                    <td>{{content.subtype}}</td>
                </tr>
                <tr>
                    <td>Sub Type</td>
                    <td>{{content.subtype}}</td>
                </tr>
                <tr>
                    <td>Date Created</td>
                    <td>{{content.date_created}}</td>
                </tr>
                <tr>
                    <td>Date Pushed</td>
                    <td>{{content.opendata_date_pushed}}</td>
                </tr>
                <tr>
                    <td>Push Error</td>
                    <td>{{content.opendata_push_error}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="glyphicon glyphicon-remove"></i>
                    </div>				
                    <h4 class="modal-title">Apakah anda yakin?</h4>	
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin akan menghapus konten json ini?, data akan permanen dihapus dari sistem.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <a href="/content/delete?id={{id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>     
    <script src="/static/scripts/content_v2.js"></script>
{% endblock %}
