{% extends "admin.html" %}
{% block body %}
	
	<div class="flex-item">Desa ID: {{desa_id}}, Type: {{typ}}, Sub Type: {{subtyp}}</div>
	<div class="flex-item">
	 	<input type="radio" name="mode" value="data" onclick="onModeChange(this)" checked> Data<br>
  		<input type="radio" name="mode" value="diffs" onclick="onModeChange(this)"> Diffs<br>
	</div>
		<ul class="nav nav-tabs" role="tablist" id="nav-data">
			{% for x in keys %}

				<li role="presentation" id="{{x}}">
					<a href="/contents/v2/{{content_id}}/data?sheet={{x}}" id="penduduk-link" aria-controls="home" role="tab" data-toggle="tab">{{x}}</a>
				</li>

			{% endfor %}
		</ul>
	<div id="sheet"></div>
	<script>
		var content = {{content | safe}};
		var schema = {{schema | safe}};
	</script>
	<script src="/static/scripts/contents_v2_single.js"></script>
{% endblock %}
