{% extends "admin.html" %}
{% block body %}

	<style>
		.nav-pills > li > a {
			border-radius: 0;
			padding: 5px;
		}
	</style>

    <div class="flex-item">
    <a class="btn btn-default" href="/api/contents/v2/{{id}}">View JSON</a> 
    <a class="btn btn-danger" href="contents/delete?id={{id}}">Delete Content</a> 
    </div>
    <div style="flex: 1; padding: 15px;">
        <table class="table table-striped" style="background-color: rgba(255,255,255,0.8);">
            <tbody>
                <tr>
                    <td>Desa ID</td>
                    <td>{{content.desa_id}}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{content.type}}</td>
                </tr>
                <tr>
                    <td>Sub Type</td>
                    <td>{{content.subtype}}</td>
                </tr>
                <tr>
                    <td>Sub Type</td>
                    <td>{{content.subtype}}</td>
                </tr>
                <tr>
                    <td>Date Created</td>
                    <td>{{content.date_created}}</td>
                </tr>
                <tr>
                    <td>Date Pushed</td>
                    <td>{{content.opendata_date_pushed}}</td>
                </tr>
                <tr>
                    <td>Push Error</td>
                    <td>{{content.opendata_push_error}}</td>
                </tr>
            </tbody>
        </table>
    </div>
	
{% endblock %}
